{% extends "users/layout.html" %}

{% block body %}
    {% if message %}
        <div class="alert_message">
            {{ message }}
        </div>
    {% endif %}
<form class="credentials_menu" action="{% url 'login' %}" method="post">
    {% csrf_token %}
   
    <input class="credentials credentials_username" type="text" name="username" minlength="4" maxlength="12"
        placeholder="Teacher/Student ID">
    <input class="credentials credentials_password" type="password" name="password" maxlength="12" placeholder="Password">
    <input class="credentials credentials_login" type="submit" value="Login">

</form>



{% endblock %}